body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    height: 100vh;
}

.welcome-section {
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.welcome-section img {
    width: 100%;
    height: auto;
}

.login-section {
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group-text {
    cursor: pointer;
}

.additional-options a {
    color: #2a71d0;
    text-decoration: none;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn-logo {
    width: 40px;
    height: 20px;
    object-fit: contain;
}