@media (max-width: 1440.9px) {
  .dashboard-row {
    height: 990px;
  }
}

@media (max-width: 1280.9px) {
  .dashboard-viewhist a {
    padding: 10px 90px;
  }
  .dashboard-transaction a {
    padding: 10px 90px;
  }
  .col-md-2-left {
    width: 25%;
  }
}

@media (max-width: 1270px) {
  .order-price-left h6 {
    color: #ff6b6b;
    font-size: 10px;
    font-weight: 700;
  }
  .order-ramount-right h6 {
    color: #102e6b;
    font-size: 10px;
    font-weight: 700;
  }
  .oder-total h5 {
    text-align: center;
    padding: 20px 10px;
    background: rgba(255, 107, 107, 0.37);
    margin: 20px;
    margin-bottom: 0px;
    color: #ff6b6b;
    font-size: 14px;
  }
  .order-ramount h6 {
    font-weight: 700;
    color: #102e6b;
    font-size: 12px;
  }

  .order-price h6 {
    font-weight: 700;
    color: #102e6b;
    font-size: 12px;
  }
}

@media (max-width: 1199.9px) {
  .main-left-banner h1 {
    font-size: 45px;
    line-height: 70px;
  }
  .inter-ref-no {
    width: 500px;
    margin: auto;
  }
  .repaysec {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  .hassle-main-left img {
    width: 400px;
  }
  .hassle-main-right h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .hassle-main-right {
    margin-left: 40px;
  }
  .hassle-main-right p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #102e6b;
    line-height: 36px;
    text-align: left;
  }
  .hassle-main-right h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #102e6b;
    line-height: 45px;
    text-align: center;
  }
  .content-three-2 h6 {
    font-size: 20px;
    height: 60px;
  }
  .content-three h6 {
    height: 60px;
    font-size: 20px;
  }
  .three-step {
    height: 260px;
    background-position: center;
  }
  .three-step-overlay {
    background-color: rgba(16, 46, 107, 0.5);
    height: 260px;
  }
  .left-scanner h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .common-heading-2 {
    width: 700px;
    font-size: 45px;
    line-height: 65px;
    margin: 60px auto;
  }
  .footerbtnnewsletter {
    padding: 12px 15px;
  }
  .left-whychooseus img {
    width: 90%;
    margin-right: auto;
  }
  .features-box {
    padding: 50px 20px;
    width: 290px;
  }
  .content-three {
    height: 260px;
  }
  .content-three-2 {
    height: 260px;
  }
  .banner-row {
    align-items: center;
    margin-top: 65px;
  }
  .order-ramount {
    width: 56%;
  }
  .oder-total h5 {
    padding: 20px 5px;
    margin: 10px 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }
  .dashboard-viewhist a {
    padding: 10px 60px;
    font-size: 16px;
  }
  .dashboard-transaction a {
    padding: 10px 60px;
    font-size: 16px;
  }
  .col-md-2-left {
    width: 25%;
  }
  .col-md-8-middle {
    width: 55%;
  }
  .graph-link {
    font-size: 12px;
  }
  .middle-dashboard ul {
    width: 90%;
    margin: auto;
  }
  .dashboard-coin-name {
    font-size: 14px;
  }
  .dashboard-day-low-high {
    font-size: 14px;
  }
  .dashboard-low-signal {
    border-top: 10px solid #ff6b6b;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
  .starcolor {
    font-size: 20px;
    color: #fedb5c;
  }
  .buydashboard-btn a {
    padding: 12px 60px;
    font-size: 18px;
  }
  .selldashboard-btn a {
    padding: 12px 60px;
    font-size: 18px;
  }
  .dashboard-about-coin h5 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .dashboard-about-coin ul li h6 {
    font-size: 12px;
  }
  .buy-preiview-l {
    width: 90%;
  }
  .close-prev {
    width: 10%;
  }
  .buy-sell-prev {
    width: 150px;
  }
  .common-btn {
    font-size: 14px;
  }
  .buy-balance h6 {
    font-size: 12px;
  }
  .close-prev button {
    font-size: 16px;
  }
  .instant-content-left h6 {
    font-size: 12px;
  }
  .instant-content-right h6 {
    font-size: 12px;
  }
  .instant-content-left {
    width: 220px;
  }
  .dash-price-list-buy {
    width: 220px;
  }
  .instant-content-right {
    width: 230px;
  }
  .dash-price-list-buy li button {
    width: 50px;
  }
  .instant-prev {
    padding: 20px 10px;
  }
  .input-dash-amt {
    width: 100px;
    font-size: 14px;
  }
  .radioclass-dash {
    width: 175px;
  }
  .dash-price-list-buy-1 li button {
    font-size: 11px;
    width: 75px;
  }
  .dash-price-list-buy-1 {
    width: 240px;
    margin: 0px;
  }
  .instant-tabheading {
    font-size: 16px;
  }
  .sell-btc-main-sec {
    background-color: #102e6b;
    margin: 0px 20px;
    padding: 20px 0px 30px 10px;
  }
  .fisrt-td-img img {
    display: block;
    margin-left: auto;
    width: 300px;
  }
  .second-td-img img {
    display: block;
    margin: auto;
    width: 150px;
  }
  .third-td-img img {
    display: block;
    margin-right: auto;
    width: 300px;
  }
  .four-td-img img {
    display: block;
    margin: auto;
    width: 150px;
  }
  .five-td-img img {
    display: block;
    margin-left: auto;
    width: 300px;
  }
  .left-start-trading img {
    display: block;
    margin-right: auto;
    width: 80%;
  }
  .deposit-tab-content {
    width: 500px;
    display: block;
    margin: auto;
  }
  .dep-amt-tab {
    width: 450px;
  }
  .dor-dep-tandc {
    width: 500px;
  }
  .custom-buyScreen li button {
    width: 70px;
  }
}

@media (max-width: 1050px) {
  .order-price-left h6 {
    color: #ff6b6b;
    font-size: 9px;
    font-weight: 700;
  }
  .order-ramount-right h6 {
    color: #102e6b;
    font-size: 9px;
    font-weight: 700;
  }
}

@media (max-width: 991.9px) {
  .main-left-banner h1 {
    font-size: 35px;
    line-height: 55px;
  }
  .dor-dep-tandc {
    width: 450px;
  }
  .order-ramount {
    width: 45%;
  }
  .content-three h6 {
    height: 60px;
    font-size: 18px;
  }
  .content-three-2 h6 {
    font-size: 18px;
    height: 60px;
  }
  .right-scanner h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .right-scanner img {
    height: 150px;
  }
  .list-full-name {
    margin-bottom: 0px;
    color: #102e6b;
    font-weight: 700;
    font-size: 14px;
  }
  /* .cst-tablecss thead,
  th,
  tr,
  td {
    text-align: center;
    border: 1px solid transparent;
    color: #102e6b;
    font-weight: 700;
    font-size: 14px;
  } */
  /* .front-page-buynow {
    border: 1px solid #46bf60;
    background: #46bf60;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
  } */
  .common-heading-2 {
    font-size: 40px;
    line-height: 60px;
  }
  .footer-cmn-heading {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 35px;
    height: 50px;
  }
  .footerbtnnewsletter {
    padding: 15px 10px;
    font-size: 14px;
  }
  .footernewletter {
    background: linear-gradient(
      273deg,
      rgba(212, 112, 186, 0.7) -47.26%,
      rgba(16, 46, 107, 0.7) 56.5%
    );
    padding-left: 20px;
    border: #fff solid 1px;
    width: 170px;
    border-radius: 30px;
    height: 49px;
    font-size: 14px;
  }
  .mainf-ter-community a {
    padding: 10px 18px;
    font-size: 12px;
  }
  .footer-app ul {
    width: 200px;
  }
  .right-whychooseus p {
    background: rgba(17, 45, 108, 0.03);
    line-height: 40px;
    font-size: 16px;
    color: #102e6b;
    padding: 25px 10px;
  }
  .Newsletter {
    width: 230px;
  }
  .Subscribe-btn {
    padding: 12px 10px;
    font-size: 16px;
  }
  .useful li {
    margin-bottom: 25px;
  }
  .footer-social {
    margin-bottom: 25px;
  }
  .footerfind {
    margin-bottom: 25px;
  }
  .last-footer p {
    line-height: 26px;
  }
  .features-sec {
    background: #102e6b;
    padding: 150px 0px 120px 0px;
    clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0px 100%);
    border-bottom-left-radius: 15px;
  }
  /* .hassle-main-left img {
    width: 400px;
    display: none;
  }

  .hassle-overlay {
    background-color: rgb(251 252 255 / 70%);
    padding: 0px 0px 0px 0px;
  } */
  .content-three-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 260px;
    text-align: center;
  }
  .responsivenav {
    display: block;
  }
  .form-main-box input {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .login-left img {
    width: 450px;
    padding: 50px;
  }
  .inter-ref-no {
    width: 400px;
    margin: auto;
  }
  .repaysec {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .newdp-tav-sec-content {
    width: 450px;
  }
  .deposit-tab-content {
    width: 450px;
  }
  .dep-amt-tab {
    width: 400px;
  }
  .career-s-right img {
    width: 250px;
    height: 300px;
  }
  .about-hero-heading {
    font-size: 45px;
    line-height: 55px;
  }
  .main-privacy-content {
    width: 600px;
  }
  .faq-page-content {
    width: 600px;
  }
  .faq-linkpage h4 {
    color: #fff;
    font-size: 22px;
  }
  .pricelist-table {
    width: 100%;
  }
  .left-investnow img {
    width: 350px;
    display: block;
    margin: 0px auto 30px auto;
  }
  .hassle-main-right {
    margin-left: 0px;
  }
  .hassle-main-right p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #102e6b;
    line-height: 36px;
    text-align: center;
  }
  .hassle-free-main {
    background-color: rgba(17, 45, 108, 0.03);
    max-width: 100%;
    margin: auto;
    padding: 50px 0px 35px 0px;
  }
  .main-banner {
    height: auto;
  }
  .banner-row {
    align-items: center;
    margin-top: 40px;
  }
  .first-arrow img {
    margin-top: -200px;
}
.second-arrow img{
  margin-top: -200px;
}
.arrowcontent {
  padding-bottom: 60px;
  margin-top: -15px;
}
}

@media (max-width: 980px) {
  .dashboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .col-md-2-left {
    width: 540px;
    margin: 60px 0px 0px 0px;
  }
  .col-md-8-middle {
    width: 540px;
    margin: 60px 0px 0px 0px;
  }
  .col-md-2-right {
    width: 540px;
    margin: 60px 0px 60px 0px;
  }
  .dashboard-viewhist a {
    padding: 10px 40px;
    font-size: 16px;
  }
  .dashboard-transaction a {
    padding: 10px 40px;
    font-size: 16px;
  }
  .graph-link {
    font-size: 14px;
  }
  .order-ramount h6 {
    font-weight: 700;
    color: #102e6b;
    font-size: 14px;
  }

  .order-price h6 {
    font-weight: 700;
    color: #102e6b;
    font-size: 14px;
  }
  .order-price-left h6 {
    color: #ff6b6b;
    font-size: 13px;
    font-weight: 700;
  }
  .order-ramount-right h6 {
    color: #102e6b;
    font-size: 13px;
    font-weight: 700;
  }
}

@media (max-width: 880px) {
  .dor-banner {
    background-position: top;
    height: 650px;
  }
  .dor-active-tab {
    font-size: 16px;
    padding: 5px 20px;
  }
  .common-dor-tab {
    font-size: 16px;
    padding: 5px 20px;
  }
  .dor-tab {
    width: 450px;
    margin: auto;
  }
  /* .dor-tab li {
  margin: 0px 10px;
} */
}

@media (max-width: 767.9px) {
  .order-ramount {
    width: 40%;
  }
  .login-bage-faqimg {
    width: 350px;
  }
  .service-box {
    width: 300px;
    margin: 30px auto;
  }
  .faq-page-content {
    width: 500px;
  }
  .main-privacy-content {
    width: 500px;
  }
  .about-content-sec {
    width: 500px;
  }
  .entreprenuer-content {
    width: 500px;
  }
  .entreprenuer-content h2 {
    font-size: 28px;
    line-height: 45px;
  }
  .about-signup a {
    padding: 15px 50px;
  }

  .service-box {
    width: 275px;
    margin: 30px auto;
  }

  .about-hero-heading {
    width: 500px;
  }
  .about-sb-hero-heading {
    width: 500px;
  }
  .about-hero-heading {
    font-size: 36px;
    line-height: 55px;
  }
  .about-page-section {
    height: 400px;
  }
  .banner-about-main {
    height: 400px;
  }
  .overlay-about-page {
    height: 400px;
  }
  .trust-main-content {
    width: 500px;
  }
  .form-spacings {
    margin-bottom: 20px;
  }
  /* .main-banner {
    background: #102e6b;
    height: auto;
    padding: 60px 0px;
  } */
  .login-left img {
    width: 340px;
    padding: 30px;
  }
  .first-arrow img {
    margin-top: -53px;
  }
  .second-arrow {
    margin-top: -60px;
  }
  /* .main-left-banner h1 {
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 40px;
  } */
  /* .main-right-banner img {
    width: 450px;
    margin: auto;
    display: block;
  } */
  .arrowcontent h6 {
    padding: 25px;
    width: 90%;
    font-size: 18px;
    line-height: 32px;
  }
  /* .hassle-main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .hassle-main-right h2 {
    font-size: 35px;
  } */
  .common-heading-2 {
    font-size: 35px;
    line-height: 50px;
  }
  /* .hassle-main-right h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .hassle-main-right p {
    font-size: 16px;
    font-weight: 600;
  } */
  .three-step {
    height: 575px;
    background-position: center;
    background-size: cover;
  }
  .three-step-overlay {
    background-color: rgba(16, 46, 107, 0.5);
    height: 575px;
  }
  .content-three {
    height: 200px;
    width: 300px;
    margin: auto;
  }
  .content-three-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    text-align: center;
    width: 300px;
    margin: auto;
  }
  .common-heading-2 {
    width: 90%;
    margin: 60px auto;
  }
  .left-scanner h2 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
  .right-scanner {
    width: 300px;
    margin: auto;
  }
  .pricelist-table {
    width: 90%;
  }
  .left-whychooseus img {
    width: 300px;
    margin: auto;
    display: block;
  }
  .left-whychooseus img {
    margin-bottom: 40px;
  }
  .right-whychooseus p {
    padding: 25px 25px;
    text-align: center;
  }
  .footer-logo {
    display: block;
    margin: 0px auto 30px auto;
  }
  .footer-cmn-heading {
    text-align: center;
  }
  .footerfind {
    margin-bottom: 25px;
    text-align: center;
  }
  .footer-social {
    margin: auto;
  }
  .conter-footer {
    width: 175px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .useful li {
    margin-bottom: 15px;
    text-align: center;
  }
  .newsletter-res {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
  }
  .footernewletter {
    width: 225px;
  }
  .footerbtnnewsletter {
    padding: 15px 30px;
    font-size: 14px;
  }
  .last-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
    text-align: center;
  }
  .footer-social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 25px !important;
  }
  .footer-cmn-heading {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 30px;
    height: 40px;
  }
  .banner-row {
    align-items: center;
    margin-top: 40px;
  }
  .right-scanner h6 {
    text-align: center;
  }
  .mainf-ter-community {
    margin-top: 20px;
  }
  .features-box h5 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    height: 65px;
    line-height: 30px;
  }
  .left-mobilecoin img {
    width: 350px;
    display: block;
    margin: 0px auto 40px auto;
  }
  .form-main-box {
    width: 400px;
    margin: auto;
  }
  .form-reg-select {
    width: 400px;
    margin: auto;
  }
  .reg-heading {
    font-size: 40px;
  }
  .copyright {
    text-align: center;
    margin: 0;
    background: #102e6b;
    color: #fff;
    padding: 20px;
    font-size: 14px;
  }
  .instant-content-left h6 {
    font-size: 12px;
  }
  .instant-content-right h6 {
    font-size: 12px;
  }

  .login-details-otp h6 {
    line-height: 30px;
    width: 400px;
    margin: 0px auto 30px auto;
  }
  .forgrtpin-input {
    width: 245px;
    height: 40px;
  }
  .forget-left img {
    width: 275px;
    padding: 35px;
  }
  .forget-right {
    display: block;
    margin: 0px auto;
  }
  .left-start-trading img {
    display: block;
    margin: 0px auto 60px auto;
    width: 300px;
  }
  .table {
    width: 600px !important;
  }
  .right-start-trading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  .second-arrow img {
    margin-top: 7px;
}
.arrowcontent {
  padding-bottom: 60px;
  margin-top: 0px;
}
}

@media (max-width: 740px) {
  .carrer-first-sec {
    display: flex;
    margin-top: 60px;
    flex-direction: column-reverse;
  }
  .career-s-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  .career-f-left {
    width: 450px;
    margin: auto;
  }
}

@media (max-width: 575.9px) {
  .main-right-banner img {
    width: 300px;
    margin: auto;
    display: block;
  }
  .faq-linkpage {
    width: 350px;
    margin: 25px auto;
  }
  .faq-page-content h5 {
    font-size: 18px;
    color: #102e6b;
    font-weight: 700;
  }
  .trust-main-content {
    width: 95%;
  }
  .login-bage-faqimg {
    width: 280px;
  }
  .faq-page-content p {
    font-size: 14px;
  }
  .faq-page-content {
    width: 90%;
  }
  .trust-content-right h6 {
    font-size: 18px;
    margin-top: 4px;
  }
  .trust-content-right p {
    font-size: 15px;
    line-height: 26px;
  }
  .reg-heading {
    font-size: 30px;
    margin: 80px 0px 30px 0px;
  }
  .form-main-box label {
    font-size: 14px;
  }
  .cstlable {
    font-size: 14px;
  }
  .footernewletter {
    width: 210px;
  }
  .Newsletter {
    width: 210px;
  }
  .right-whychooseus p {
    padding: 25px 15px;
    text-align: center;
  }
  /* .main-left-banner h1 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 40px;
  } */
  .copyright {
    text-align: center;
    margin: 0;
    background: #102e6b;
    color: #fff;
    padding: 20px;
    font-size: 12px;
  }
  .arrowcontent h6 {
    padding: 20px;
    width: 95%;
    font-size: 18px;
    line-height: 32px;
  }
  .hassle-main-right h2 {
    font-size: 32px;
  }
  .hassle-main-right {
    margin: auto;
    width: 95%;
  }
  .hassle-main-right h4 {
    font-size: 20px;
    line-height: 32px;
  }
  .left-scanner h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .pricelist-table {
    width: 95%;
  }
  .table {
    width: 580px !important;
  }
  .common-heading-2 {
    width: 100%;
    margin: 60px auto;
  }
  .left-mobilecoin img {
    width: 290px;
    display: block;
    margin: 0px auto 40px auto;
  }
  .form-main-box {
    width: 300px;
    margin: auto;
  }
  .form-reg-select {
    width: 300px;
    margin: auto;
  }
  .regtandc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 30px auto;
    width: 300px;
  }
  .regtandc h6 {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #102e6f;
  }
  .login-left img {
    width: 300px;
    padding: 30px;
  }
  .createpin-details-otp {
    width: 300px;
    display: block;
    margin: 50px auto;
  }
  .createpin-label {
    width: 300px;
  }
  .about-content-sec {
    width: 400px;
  }
  .entreprenuer-content {
    width: 400px;
  }
  .entreprenuer-content h2 {
    font-size: 28px;
    line-height: 45px;
  }
  .about-signup a {
    padding: 15px 50px;
  }
  .about-hero-heading {
    width: 400px;
  }
  .about-sb-hero-heading {
    width: 400px;
  }
  .about-hero-heading {
    font-size: 30px;
    line-height: 45px;
  }
  .trustsafety-heading {
    font-size: 24px;
    line-height: 35px;
  }
  .left-investnow img {
    width: 250px;
    display: block;
    margin: 0px auto 30px auto;
  }
}

@media (max-width: 560px) {
  .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
  }
  .main-privacy-content {
    width: 400px;
  }
  .mainsb-content-privacy {
    padding: 20px 20px 0px 20px;
  }
  .main-privacy-content p {
    font-size: 14px;
  }
  .pri-numbering {
    font-size: 18px;
    color: #102e6b;
  }
  .specail-heading-pri {
    line-height: 28px;
    font-size: 18px;
  }
  .guideline-lsit li {
    font-size: 14px;
    line-height: 26px;
  }
  .main-privacy-content h5 {
    font-size: 20px;
  }
  .forget-left {
    width: 100%;
    margin-bottom: 60px;
  }
  .col-md-2-left {
    width: 90%;
    margin: 60px auto 0px auto;
  }
  .col-md-8-middle {
    width: 90%;
    margin: 60px auto 0px auto;
  }
  .col-md-2-right {
    width: 90%;
    margin: 60px auto 60px auto;
  }
  .dashboard-viewhist a {
    padding: 10px 40px;
    font-size: 16px;
  }
  .dashboard-transaction a {
    padding: 10px 40px;
    font-size: 16px;
  }
  .graph-link {
    font-size: 14px;
  }
  .dashboard-about-coin ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 20px 0px 20px;
    background-color: rgba(16, 46, 107, 0.03);
    text-align: center;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .dashboard-about-coin ul li {
    margin-bottom: 15px;
  }
  .changable-sec {
    height: auto;
  }
  .dashboard-about-coin ul li h6 {
    font-size: 14px;
  }
  .table-data .btc-text {
    font-size: 14px;
  }
  .table-data .btc {
    font-size: 11px;
  }
  .rs-cols {
    font-size: 14px;
  }
  .rupesshigh {
    font-size: 11px;
  }
  .rupesslow {
    font-size: 11px;
  }
  .buydashboard-btn a {
    padding: 7px 40px;
    font-size: 16px;
  }
  .selldashboard-btn a {
    padding: 7px 40px;
    font-size: 16px;
  }
  .dashboard-viewhist a {
    padding: 5px 17px;
    font-size: 14px;
  }
  .dashboard-transaction a {
    padding: 5px 17px;
    font-size: 14px;
  }
  .buy-preview-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buy-preiview-l {
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
  }
  .buy-sell-prev {
    width: 150px;
    margin-bottom: 15px;
  }
  .instant-prev {
    padding: 20px 10px;
    width: 300px;
  }
  .instant-prev-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .middle-dashboard ul {
    width: 100%;
  }
  /* height: 40px;
    white-space: nowrap;
    justify-content: flex-start;
  } 
  .middle-dashboard ul li{
    margin: 0px 10px 10px 10px;
  } */
  .first-article {
    height: auto !important;
    padding-bottom: 30px;
  }
  article.on {
    display: block;
    /* background-color: #102e6b; */
    height: auto;
    padding-bottom: 30px;
  }
  .history-section {
    width: 350px;
  }
  .history-left {
    width: 40px;
  }
  .getss-cr-main {
    width: 380px;
    margin: auto;
  }
  .vornew-tabpar {
    width: 380px;
  }
  .vornew-tabpar li {
    width: 100px;
  }
  .vornew-tab {
    width: 340px;
  }
}

@media (max-width: 530px) {
  .middle-dashboard ul {
    overflow-x: auto;
    width: 100%;
    height: 70px;
    white-space: nowrap;
    margin: auto;
    justify-content: center;
  }

  .middle-dashboard ul li {
    margin: 0px 10px 10px 10px;
  }
  .dor-active-tab {
    font-size: 14px;
    padding: 5px 12px;
  }
  .common-dor-tab {
    font-size: 14px;
    padding: 5px 12px;
  }
  .deposit-tab-content {
    width: 340px;
  }
  .dep-amt-tab {
    width: 300px;
  }
  .dep-amt-tab li button {
    background: rgba(16, 46, 107, 0.03);
    border: none;
    height: 35px;
    width: 50px;
    border-radius: 10px;
    color: #102e6b;
    font-weight: 700;
    font-size: 14px;
  }
  .width-para-dor {
    font-size: 14px;
  }

  .dor-tab {
    width: 340px;
    margin: auto;
  }
  .new-dor-wall-content {
    width: 340px;
  }
  .repaysec {
    display: flex;
    justify-content: space-between;
    width: 340px;
  }
  .new-dor-wall-content h5 {
    font-size: 22px;
  }
  .new-dor-wall-content h6 {
    font-size: 15px;
  }
  .newdp-tav-sec-content {
    width: 340px;
    padding: 20px;
  }
  .newdp-tav-sec-content {
    width: 340px;
    padding: 20px 10px;
  }
  .np-dep-left h6 {
    font-size: 13px;
  }
  .np-dep-right h6 {
    font-size: 13px;
  }
  .inter-ref-no {
    width: 340px;
  }
  .np-dep-middle h6 {
    font-size: 13px;
  }
  .transactional-hist {
    width: 90%;
    /*margin: 80px auto 20px auto;*/
    overflow: auto;
  }
  .history-right {
    width: 110px;
  }
  .history-left {
    width: 110px;
  }
  .history-left h6 {
    font-size: 13px;
  }
  .history-right h6 {
    font-size: 13px;
  }
  .hist-middle-divider h6 {
    font-size: 13px;
  }
  .dor-dep-tandc {
    width: 340px;
  }
  .history-left {
    width: 62px;
  }
  .trans-hist-middle-divider h6 {
    color: #102e6b;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .trans-history-left h6 {
    color: #102e6b;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .trans-history-right h6 {
    color: #102e6b;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .career-f-left {
    width: 360px;
    margin: auto;
  }
  .career-page {
    padding: 60px 0px 0px 0px;
  }
  .portfolio-heading {
    color: #102e6b;
    font-size: 22px;
  }
  .reg-heading {
    font-size: 22px;
    margin: 80px 0px 30px 0px;
  }
  .basicd-history-left h6 {
    font-size: 14px;
  }
  .basicd-hist-middle-divider h6 {
    font-size: 14px;
  }
  .basicd-history-right h6 {
    font-size: 14px;
  }
  .basicd-history-right {
    width: 95px;
  }
  .main-history-sec {
    background-color: rgba(16, 46, 107, 0.03);
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 490px) {
  .enterpind-otp input {
    width: 60px;
    height: 45px;
    margin: 15px 3px 30px 3px;
  }
  .faq-linkpage {
    width: 320px;
    margin: 25px auto;
  }
  .privacy-banner {
    background-color: #102e6b;
    height: 300px;
    padding: 25px;
  }
  .faq-page-content {
    width: 90%;
  }
  .main-privacy-content {
    width: 340px;
  }
  .career-f-left {
    width: 320px;
    margin: auto;
  }
  .enterpind-otp {
    width: 275px;
  }
  .createpin-label {
    width: 275px;
  }
  .faq-page-content h5 {
    font-size: 16px;
    color: #102e6b;
    font-weight: 700;
  }
  .login-details-otp h6 {
    line-height: 30px;
    width: 300px;
    margin: 0px auto 30px auto;
  }
  .faq-page-content p {
    font-size: 13px;
  }
  .signup-btn-reg button {
    font-size: 18px;
    height: 40px;
    width: 150px;
  }
  .login-forgetpin {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: -15px;
    width: 275px;
  }
  .port-check-buttons button {
    padding: 8px 0px;
    font-size: 12px;
    width: 85px;
  }
  .port-common-amt {
    padding: 15px 5px;
    width: 110px;
    height: 75px;
  }
  .port-f-heading {
    font-size: 13px;
  }
  .port-common-amt-s-h6 {
    font-size: 11px;
  }
  .coiin-value h6 {
    font-size: 13px;
  }
  .invested-value h6 {
    font-size: 13px;
  }
  .port-hist h6 {
    font-size: 13px;
  }
  .bou-details-otp {
    width: 340px;
    display: block;
    margin: 0px auto 50px auto;
  }
  .bou-section h4 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .bou-section ul li {
    font-size: 14px;
    line-height: 28px;
  }
  .bou-next-step a {
    padding: 15px;
  }
  .bou-main-sec {
    padding: 25px 15px;
  }
  .enterpind-otp-new {
    width: 360px;
  }
  .enterpind-otp-new input {
    width: 50px;
  }
  .about-content-sec {
    width: 95%;
  }
  .entreprenuer-content {
    width: 95%;
  }
  .entreprenuer-content h2 {
    font-size: 20px;
    line-height: 35px;
  }
  .entreprenuer-content p {
    font-size: 14px;
    text-align: center;
  }
  .created-bg {
    font-size: 14px;
  }
  .about-content-sec p {
    font-size: 15px;
    text-align: center;
  }

  .about-signup a {
    padding: 15px 50px;
  }
  .about-hero-heading {
    width: 95%;
  }
  .about-sb-hero-heading {
    width: 95%;
  }
  .about-hero-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .about-sb-hero-heading {
    font-size: 14px;
  }
  .vornew-tabpar {
    width: 350px;
  }
  .vornew-tab {
    width: 300px;
  }
  .main-history-sec {
    background-color: rgba(16, 46, 107, 0.03);
    /* padding: 25px; */
    border-radius: 10px;
    width: 375px;
    margin: 0px auto 0px auto;
  }
  .getss-cr-main {
    width: 350px;
    margin: auto;
  }
  .deposit-main-heading {
    font-size: 20px;
  }
  .table {
    width: 500px !important;
  }
  .list-full-name {
    margin-bottom: 0px;
    color: #102e6b;
    font-weight: 700;
    font-size: 12px;
  }
  /* .cst-tablecss thead,
  th,
  tr,
  td {
    text-align: center;
    border: 1px solid transparent;
    color: #102e6b;
    font-weight: 700;
    font-size: 12px;
  } */
  .lisitincoinname {
    width: 215px;
  }
  .main-list-coin {
    display: flex;
    justify-content: flex-start;
    width: 165px;
    padding-left: 30px;
  }
  .trans-history-left {
    width: 140px;
  }
}

@media (max-width: 440px) {
  .middle-dashboard ul {
    overflow-x: auto;
    width: 100%;
    height: 70px;
    white-space: nowrap;
    margin: auto;
    justify-content: flex-start;
  }
}

@media (max-width: 395px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 15px !important;
  }
  .career-f-left p {
    font-size: 15px;
    color: #fff;
  }
  .main-privacy-content {
    width: 95%;
  }
  .vornew-tabpar {
    width: 265px;
  }
  .vornew-tab {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }
  .faq-linkpage {
    width: 290px;
    margin: 25px auto;
  }
  .privacy-heading {
    font-size: 24px;
  }
  .vornew-tabpar li {
    width: 70px;
  }
  .career-f-left {
    width: 300px;
    margin: auto;
  }
  .header-login li a {
    padding: 5px 10px;
  }
  .header-login li a:hover {
    padding: 5px 10px;
  }
  .trans-history-left {
    width: 125px;
  }

  .trans-history-left h6 {
    font-size: 11px;
  }
  .vornew-tab li {
    width: 33%;
  }
  .trans-hist-middle-divider h6 {
    font-size: 11px;
  }
  .trans-history-right {
    width: 175px;
  }
  .trans-history-right h6 {
    font-size: 11px;
    text-align: left;
  }
  .left-mobilecoin img {
    width: 220px;
    display: block;
    margin: 0px auto 40px auto;
  }
  .repaysec {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .main-history-sec {
    background-color: rgba(16, 46, 107, 0.03);
    border-radius: 10px;
  }
  .dor-wall-content {
    background-color: #102e6b;
    width: 280px;
    height: 125px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dor-wall-content h5 {
    font-size: 22px;
    color: #fff;
  }
  .bg-dor-overlay {
    background: #102e6b;
    width: 200px;
    height: 35px;
    border-radius: 50px;
    margin-bottom: -20px;
  }
  .dor-tab {
    width: 300px;
    margin: auto;
  }
  .new-dor-wall-content {
    width: 300px;
  }
  .new-dor-wall-content h5 {
    font-size: 22px;
  }
  .new-dor-wall-content h6 {
    font-size: 15px;
  }
  .dor-dep-tandc {
    width: 300px;
  }
  .newdp-tav-sec-content {
    width: 300px;
    padding: 20px;
  }
  .newdp-tav-sec-content {
    width: 300px;
    padding: 20px 10px;
  }
  .np-dep-left h6 {
    font-size: 12px;
  }
  .np-dep-right h6 {
    font-size: 12px;
  }
  .inter-ref-no {
    width: 300px;
  }
  .np-dep-middle h6 {
    font-size: 12px;
  }
  .deposit-tab-content {
    width: 300px;
  }
  .dep-amt-tab {
    width: 275px;
  }
  .width-para-dor {
    font-size: 12px;
  }
  .bou-details-otp {
    width: 300px;
  }
  .transactional-hist {
    width: 90%;
    /*  margin: 80px auto 20px auto;*/
  }
  .form-main-box {
    width: 275px;
    margin: auto;
  }
  .form-reg-select {
    width: 275px;
    margin: auto;
  }
  .enterpind-otp-new {
    width: 275px;
  }
  .enterpind-otp-new input {
    width: 40px;
    height: 40px;
  }
  .history-section {
    width: 300px;
  }
  .portfolio-details ul {
    padding: 20px 10px;
  }
  .portfolio-details ul li {
    font-size: 12px;
  }
  .getss-cr-main {
    width: 300px;
    margin: auto;
  }
  .scratch-details {
    width: 320px;
    padding: 20px 15px 10px 15px;
  }
  .scratch-details p {
    font-size: 12px;
  }
  .scrtach-code-main h6 {
    font-size: 13px;
  }
  .scrtach-code-main img {
    height: 35px;
  }
  .notice-list-series-main {
    box-shadow: 0px 10px 10px rgb(255 255 255 / 25%);
    padding: 30px 0;
    width: 300px;
    margin-bottom: 60px;
  }
  .common-notice-page {
    width: 100%;
  }
  .instant-prev {
    padding: 20px 10px;
    width: 250px;
  }
  .limit-instant-buy-prev {
    background-color: #102e6b;
    margin: 0px 0px;
  }
  .sell-btc-main-sec {
    background-color: #102e6b;
    margin: 0px 0px;
    padding: 20px 0px 30px 10px;
  }
  .buy-prev-main {
    border-bottom: 3px solid #fff;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    background-color: #102e6b;
  }
  .date-time-hist {
    height: 25px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    width: 150px;
    margin-bottom: 0px;
    color: #102e6b;
    width: 175px;
  }
  .hassle-main-right h2 {
    font-size: 28px;
  }
}

@media (max-width: 368px) {
  .port-common-amt {
    padding: 15px 5px;
    width: 95px;
    height: 75px;
  }
  .port-f-heading {
    font-size: 12px;
  }
  .scratch-details {
    width: 300px;
  }
}
